# Node.js dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
backend/.env
frontend/.env

# Build outputs
dist/
build/
.cache/
.next/
out/

# Editor/OS junk
.DS_Store
Thumbs.db
.vscode/
.idea/


#python model
python_service/emotion_model.h5

*.h5
python_service/*.h5

# Optional: lock files (if you don’t want to commit them)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml
