@tailwind base;
@tailwind components;
@tailwind utilities;




/* flip card */
.perspective {
  perspective: 1000px;
}

.flip-card {
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.flip-card.flipped {
  transform: rotateY(180deg);
}

.flip-side {
  backface-visibility: hidden;
}
.flip-back {

  transform: rotateY(180deg);
}